<div class="_content">
  <mat-toolbar>
    <button class="btn_create" color="primary" mat-mini-fab mat-button mat-fab (click)="openCreate()">
      <mat-icon>add</mat-icon>
    </button>
    <span>List Employee</span>
  </mat-toolbar>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="eid">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 100px;"> ID </th>
        <td mat-cell *matCellDef="let element" style="text-align: center; width: 100px;"> {{element.eid}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> firstname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> contact </th>
        <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
      </ng-container>

      <ng-container matColumnDef="org_div">
        <th mat-header-cell *matHeaderCellDef> org_div </th>
        <td mat-cell *matCellDef="let element"> {{element.org_div}} </td>
      </ng-container>

      <ng-container matColumnDef="org_code">
        <th mat-header-cell *matHeaderCellDef> org_code </th>
        <td mat-cell *matCellDef="let element"> {{element.org_code}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 150px;"> Action </th>
        <td mat-cell *matCellDef="let element" style="text-align: center; width: 150px;">
          <button mat-icon-button (click)="openEdit()"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="openDelete()"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->